body {
    user-select: none;
    overflow: hidden;
    display: grid;
    background-color: #f8f3ea9a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
}

.wrapperLR {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);/
}

.wrapperLR::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/logoo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85%;
    transform: rotate(-15deg);
    z-index: -1;
}

.life_blockloginLR {
    z-index: 1;
    width: 380px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 1vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3vh;
}

.blLR_b1 {
    width: 100%;
    height: 100px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline-start: 3vh;
}

.blLR_b1 img {
    width: 120px;
}

.blLR_b2 {
    width: 100%;
    height: 90px;
    min-height: 90px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding-inline-start: 3vh;
    font-size: 67px;
    color: #f59546;
}

.blLR_b2 span {
    margin-bottom: -2.5vh;
}

.blLR_b2 span:not(:last-child) {
    margin-top: -3vh;
}

.blLR_b3 {
    width: 100%;
    min-height: 150px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}

.input-container {
    position: relative;
    width: 300px;
    margin-bottom: 20px;
}

.input-container input {
    width: 92%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    padding-inline-start: 2vh;
    color: rgb(160, 160, 160);
    font-size: 1.6vh;
}

.input-container input:focus {
    border-color: #f59546;
    outline: none;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 0 5px;
    font-size: 12px;
    color: #999;
    pointer-events: none;
    transition: 0.3s;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: -10px;
    left: 5px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: #f59546;
}

.remember-me {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: rgb(160, 160, 160);
}

.remember-me input {
    margin-right: 10px;
}

.login-button {
    width: 100%;
    padding: 10px 70px;
    border: none;
    border-radius: 4px;
    background-color: #f59546;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #f7a15aab;
}

.login1 {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.have-account {
    width: 100%;
    height: 4vh;
    color: rgb(160, 160, 160);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.have-account:hover {
    color: #f79444de;
}

.blLR_b4 {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-inline-start: 4vh;
    color: rgb(160, 160, 160);
    font-size: 20px;
    gap: 1.5vh;
}

.blLR_b5 {
    width: 280px;
    height: 100px;
    background-color: rgb(247, 247, 247);
    position: fixed;
    right: 38%;
    top: 20%;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    display: none;
}

.header_blLR_b5 {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: 2vh;
}

.header_blLR_b5 img {
    width: 9vh;
}

.circle_progress_notify {
    position: relative;
    width: 40px;
    height: 40px;
    padding-inline-end: 3vh;
    padding-bottom: 5vh;
}

.circle_progress_notify svg {
    transform: rotate(-90deg);
    width: 120%;
    height: 120%;
    transform: scale(0.9), rotate(-90deg);
}

.circle_progress_notify circle {
    stroke-width: 3;
    fill: none;
    transform: scale(0.5);
}

.circle_bg {
    stroke: #ccc;
}

.circle_fg {
    stroke: #f59546;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    transition: stroke-dashoffset 5s linear;
}

.text_notify_blLR_b5 {
    width: 100%;
    height: 60%;
    max-height: 60%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block_txt_notify {
    width: 75%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    text-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2vh;
    color: #f59546;
}

@media (max-width: 500px) {
    .life_blockloginLR {
        width: 100%;
        height: 100%;
    }
    
    .blLR_b4 {
        top: 92%;
    }

    .blLR_b5 {
        right: 0;
        top: 10%;
    }
}